VITE_ENVIRONMENT=development

VITE_API_BASE_URL=http://localhost:3000
VITE_API_PREFIX=
VITE_MESIBA_BASE_URL_API=http://localhost:3001

VITE_SSO_URL=http://localhost:4000

VITE_USE_MOCK_API=false
VITE_USE_SSO=false

VITE_CHAT_LINK=https://chatLink

VITE_STATIC_TOKEN=3650244b-61fc-4f75-95eb-359d7483ff70
#VITE_IS_BI=true
#VITE_REQUEST_USERNAME=s0000000

VITE_MATOMO_ENABLED=false

VITE_MESIBA_S3_URL=
