VITE_API_BASE_URL = http://localhost:3000
VITE_MESIBA_BASE_URL_API = http://localhost:3001
VITE_USE_MOCK_API = true

VITE_KEYCLOAK_URL = https://your-keycloak-host/auth
VITE_KEYCLOAK_REALM = your-realm
VITE_KEYCLOAK_CLIENT_ID = your-client-id